* {
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    font-size: 25px;
    padding: 0;
    list-style: none;
}

section:nth-child(odd) {
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #f76c6c;
    color: #efefef;
}

section:nth-child(even) {
    width: 100%;
    height: 100vh;
    display: flex;
    color: #f76c6c;
    background-color: #efefef;
}

.flex_center_column {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.flex_space_row {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_center_row {
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_space_column {
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.understand {
    justify-content: center;
    align-items: center;
}

section.wcsbg {
    background-color: #f76c6c;
    color: #efefef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}

